<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'First Last'  %>
  </div>
  <div class="form-group">
    <%= image_tag(@user.avatar_url) if @user.avatar? %>
    <%= f.label :avatar_image %>
    <%= f.file_field :avatar, class: 'form-conrol' %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', id: "exampleFormControlInput1", placeholder: 'name@example.com' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', placeholder: '******' %>
  </div>

  <div class="buttons">
    <%= link_to 'Cancel', root_path, class: 'form-control cancel' %>
    <%= f.submit 'Create Account', class: 'form-control submit' %>
  </div>
<% end %>
