<% if current_user %>
  <h2>Welcome, <%= @user.name %></h2>
<% else %>
  <h2>The adventures of <%= @user.name %></h2>
<% end %>

<% unless @posts.nil? %>
  <ul class='cards-container'>
    <% @posts.each do |post| %>
        <li class='card'>
          <h3><%= post.title %></h3>
          <p> <%= post.location.state %>, <%= post.location.country %> </p>
          <p><%= post.body %></p>
          <div class="buttons">
            <%= link_to 'Edit', edit_user_post_path(@user) %>
          </div>
        </li>
    <% end %>
  </ul>
<% end %>
