<% if current_user %>
  <h2>Welcome, <%= @user.name %></h2>
<% else %>
  <h2>The adventures of <%= @user.name %></h2>
<% end %>

<% unless @posts.nil? %>
  <ul>
    <% @posts.each do |post| %>
        <li>
          <h3><%= post.title %></h3>
          <p> <%= post.location.city %>, <%= post.location.country %> </p>
          <p><%= post.body %></p>
        </li>
    <% end %>
  </ul>
<% end %>
