<%= form_for [@user, @post], html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Name Your Post' %>
  </div>
  <%= f.fields_for @location do |l| %>
    <div class="form-group">
      <%= l.label :country %>
      <%= l.select :country, @countries.flatten, {}, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= l.label :latitude %>
      <%= l.number_field :lat, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= l.label :longitude %>
      <%= l.number_field :lng, class: 'form-control' %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', placeholder: 'Describe your adventure' %>
  </div>

  <div class="buttons">
    <%= link_to 'Cancel', user_path(@user), class: 'form-control cancel' %>
    <% if @post.id.nil? %>
      <%= f.submit 'Create Adventure', class: 'form-control submit' %>
    <% else %>
      <%= f.submit 'Update Adventure', class: 'form-control submit' %>
    <% end %>
  </div>
<% end %>
