
<%= form_for [:admin, @user] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <div class="cancel-submit">
    <%= link_to 'Cancel', root_path %>
    <%= f.submit %>
  </div>
<% end %>
